:root {
  --color-1: #008000;
  --color-1-filter: invert(19%) sepia(99%) saturate(6156%) hue-rotate(121deg) brightness(99%) contrast(104%);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-1);
}

@font-face {
  font-family: "Roboto";
  src: url('/fonts/Roboto-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url('/fonts/Roboto-Thin.ttf') format("truetype");
  font-weight: 100;
  font-style: normal;
}

html {
  min-height: 100vh;
  overflow: hidden;
  font-size: 62.5%;
  font-family: "Roboto";
}
body {
  background-color: black;
}


[id $= "Tab"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
[id $="Container"] {
  width: 90%;
  margin: auto;
  margin-top: 5vh;
  min-height: 100vh;
} 