
#inventoryContainer {

  .btnContainerInventory {
    @include buttonInventory;
  }

  .tabsInventory {
    height: 80vh;
    border: 2px solid var(--color-1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    overflow: hidden;
    > * {
      border: 1px solid var(--color-1);
      overflow-y: scroll;
    }
    .itemDisplayTabInventory {
      padding: 1rem;
      border-right: none;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
      justify-content: space-between;
      grid-auto-rows: max-content;     
      .inventoryItem {
        border: 2px solid var(--color-1);
        aspect-ratio: 1;
        text-align: center;
        padding-top: 1rem;
        box-sizing: border-box;
        cursor: pointer;
        user-select: none;
        transition: all .3s;
        .icon img {
          width: 50%;
          margin: auto;
          aspect-ratio: 1;
          filter: var(--color-1-filter);
          margin-bottom: .5rem;
        }
        .name {
          padding: 1rem 2rem;
          font-size: 1.75rem;
          transition: all .05s;
        }
        &:hover {
          transform: translateY(-6px);
          background-color: var(--color-1);
          color: black;
          .icon img {
            filter: none
          }
        }
      }
    }
    .itemDescriptionTabInventory {
      border-left-width: 1px;
      padding: 5rem;
      .itemDescWrapper {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        .icon {
          height: 15rem;
          margin-right: 2rem;
          aspect-ratio: 1;
          img {
            height: inherit;
            aspect-ratio: 1;
            filter: var(--color-1-filter);
          }
        }
        .details {
          margin-bottom: 2rem;
          .name {
            font-size: 3rem;
            margin-bottom: 2rem;
          }
          .description {
            font-size: 1.75rem;
          }
        }
        .extra {
          font-size: 1.5rem;
        }
      }
    }
  }

  
}